/misc
/docs
/pcb
/result
/software/third_party/CMSIS/Documentation
/project/HACS_app/IAR/Debug
/project/STM32CubeMX
/project/Sublime
/project/Watchdog_Micro/AVR_Studio/Watchdog_Micro/Debug
/project/HACS_bootloader/IAR/Debug

# C ignore

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex